<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Example App</title>
  <script src="/js/jquery-2.1.3.min.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/js/client.js"></script>
</head>
<body>

  {{{body}}}

</body>
</html>
